body {
    background-color: #234772;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  h2 {
    color: white;
    text-align: center;
    font-family: Arial;
  }
  
  h4 {
    color: white;
  }
  
  ul {
    color: white;
  }
  
  .proximamente{
    color: red;
  }
  
  .horarios {
    font-size: 1.5em;
    color: white;
  }
  
  img{
    margin: auto;
    display: block;
  }