/*        La tipografía del sitio debe ser “MS Serif” y color negro, los titulos h1 a h3 deben ser de color rojo y en negrita, h4 y h5 color gris.

        Los  párrafos dentro de los artículos deben ser de tamaño 14 px, y los hiperlinks contenidos en esos párrafos deben ser de color verde y cambiar a negro cuando se posa el mouse.

        El pie de pagina debe ser de fondo negro con borde superior azul de 12px, y texto blanco. El pie de pagina debe estar separado 10px respecto del bloque que está ubicado arriba de él.*/

body{
  font-family: "MS Serif";
  color: black;
}

h1, h2, h3{
    color: red;
    font-weight: bold;
}

h4, h5{
    color: grey;
}

article .parrafo-article{
    font-size: 14px;
}

.parrafo-article a {
    color:green;
}

.parrafo-article a:hover{
    color:black;
}

footer{
    margin-top: 10px;
    background-color: black;
    border-top: 12px solid blue;
    color:white;
}

