<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>layout</title>
</head>
<body>
    <header>
        <div class="title">
            <h1>HEADER</h1>
        </div>
        <div class="logo">
            <img src="img/cabj1911.png" alt="el mas grande">
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="https://open.spotify.com/playlist/28BIsWaYi40PM3EcNJLbwh" target="_blank">casita</a>
                </li>
                <li>
                    <a href="https://open.spotify.com/album/2oQE67Gnc1GoMqoumvjPwN" target="_blank">deadwing</a>
                </li>
                <li>
                    <a href="https://open.spotify.com/user/11168727647" target="_blank">contacto</a>
                </li>
                <li>
                    <a href="https://youtu.be/pANr71-3Z_k" target="_blank">tight</a>
                </li>
            </ul>
        </div>
    </header>
    <section class="content">
        <div id="left">
            <h1>LEFT</h1>
        </div>
        <div id="right">
            <h1>RIGHT</h1>
        </div>
    </section>
    <footer>
        <h1>FOOTER</h1>
    </footer>
</body>
</html>