/* CONSIGNA 1
(*){
    color: gray;
}
nav a{
    color: blue;
}*/ 

/* CONSIGNA 2 */
/* header img{
    border: solid 2px orange;
} */

/* CONSIGNA 3 */
/* h1 {
    font-weight: bold;
    text-decoration: underline;
} */