header, .a, .b, .c, .d, .e, footer{
    background-color: grey;
    margin: 10px;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid black;
}

header{
    grid-area: header;
}

/* DEFINO GRID-AREAS*/
.a{
    grid-area: a;
}
.b{
    display: none;
}    
.c{
    grid-area: c;
}
.d{
    grid-area: d;
}
.e{
    grid-area: e;
}

footer{
    grid-area: footer;
}

.container{
    display: grid;
    grid-template-rows: 1fr 2fr 1.5fr 1.5fr 1.5fr;
    grid-template-areas: 
    "header header"
    "a a"
    "c d"
    "e e"
    "footer footer"; 
}

/* MEDIA QUERIES */

@media only screen and (min-width:600px){
    .b{
        display: block;
        grid-area: b;
    }
    .container{
        display: grid;
        grid-template-rows: 1fr fr 1fr 1fr;
        grid-template-areas:
        "header header header"
        "a a b"
        "c d e"
        "footer footer footer"; 
    }
}


